
// Cores
$color-background: #f5f6fa;
$color-primary: #182C61;
$color-white: #fff;
$color-button: #44bd32;
$color-button-hover: #4cd137;

// Fonte
$font-main: 'Roboto', sans-serif;

// Espaçamentos
$spacing-section: 56px 0;
$spacing-header: 16px 0;
